/* Move down content because we have a fixed navbar that is 50px tall */
body {
        padding-bottom: 20px;
}

table#applist {
    width:100%;
}

textarea.codeTA {
    font-family: Monospace;
    min-height: 150px;
    color: #2f2;
    background-color: #111;
    font-size:90%;
}
